<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website">
<title>Theo Henson's Website</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>About</h1>
		<h3>Me</h3>
		<p>
			I am a high school student with an interest in computer science.
		</p>
		<h3>This website</h3>
		<p>
			The frontend of this site is made of hand-typed HTML and CSS.
			The backend is programmed in Go, running in Docker, behind an NGINX reverse-proxy, self-hosted on a Raspberry Pi, and secured with Cloudflare.
		</p>
	</div>
