<link rel="canonical" href="https://theohenson.com/about">
<meta name="description" content="About Theo Henson and his website.">
<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website, About">
<title>Theo Henson: About</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>About</h1>
		<h3>About me</h3>
		<p>
			I am a high school student with an interest in computer science.<br>
			<ul>
				<li>Email: theodorehenson "at" protonmail "dot" com</li>
				<li><a href="https://directory.theohenson.com/file/key.asc">GPG public key</a></li>
				<li><a href="https://github.com/tteeoo">My GitHub profile</a></li>
			</ul>
		</p>
		<h3>About this website</h3>
		<p>
			The frontend of this site is just made of plain HTML and CSS.
			The backend (impending tech jargon) is programmed in Go, running in Docker, behind an NGINX reverse-proxy, self-hosted on a Raspberry Pi, and secured with Cloudflare.
		</p>
	</div>
