<link rel="canonical" href="https://theohenson.com/elsewhere">
<meta name="description" content="A list of websites, some mine, some other's.">
<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website, Elsewhere, Git, Chess">
<title>Elsewhere: theohenson.com</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>Elsewhere on the Web</h1>
		<p>
			Other things hosted by me:
			<ul>
				<li><a href="https://git.theohenson.com/">Personal Git frontend</a></li>
				<li><a href="https://directory.theohenson.com/">Public file directory</a></li>
				<li><a href="https://chess.theohenson.com/">Chess in JavaScript (bad)</a></li>
			</ul>
		</p>
		<p>
			Additional interesting things on the web:
			<ul>
				<li>
					<a href="https://suckless.org/">suckless.org</a>:
					Home to some seemingly esoteric and opinionated&mdash;yet quality&mdash;software (mainly for UNIX-like systems).
				</li>
				<li>
					<a href="https://lexfridman.com/podcast/">The Lex Fridman Podcast</a>:
					An interview-style podcast which discusses scientific and philosophical concepts, by <a href="https://lexfridman.com/">Lex Fridman</a> with a new guest each episode.
				</li>
				<li>
					<a href="https://comma.ai/">comma.ai</a>:
					The future of automobiles.
				</li>
			</ul>
		</p>
	</div>
