<meta name="description" content="Theo Henson's home on the World Wide Web!">
<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website">
<title>Theo Henson's Website</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>Elsewhere on the Web</h1>
		<p>
			Other things hosted by me:
			<ul>
				<li><a href="https://chess.theohenson.com/">JavaScript Chess</a></li>
				<li><a href="https://directory.theohenson.com/">Public file directory</a></li>
			</ul>
		</p>
		<p>
			Additional interesting websites:
			<ul>
				<li>
					<a href="https://suckless.org/">suckless.org</a>:
					Home to some seemingly esoteric and opinionated&mdash;yet quality&mdash;software (mainly for *nix systems).
				</li>
			</ul>
		</p>
	</div>
