<link rel="canonical" href="https://theohenson.com/">
<meta name="description" content="Theo Henson's home on the World Wide Web!">
<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website, Home">
<title>Home: theohenson.com</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>Theo Henson's Website</h1>
		<p>
			Welcome, this is the personal website of Theo Henson: my small piece of property on the web.
		</p>
		<p>
			See the links on the sidebar for more.
		</p>
	</div>
