<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<meta name="author" content="Theo Henson">
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/jpeg" href="/static/favicon.jpg"> 
	<title>Theo Henson's site</title>
    </head>
    <body>
	<div id="wrapper">
	    <h1 id="title">Theo Henson's site</h1>
	    <div id="bar">
		<a class="page-link" href="/">home</a>
		<a class="page-link" href="/about">about</a>
		<a class="page-link" href="/projects">projects</a>
	    </div>
	    <div id="body">
		<p>
		    Welcome! This is the personal site of Theo Henson.
		    <img style="display: block; margin: auto; padding-top: 24px" src="/static/cat.gif">
		</p>
	    </div>
	</div>
	<div id="footer">
	    <span id="copy">© 2020 Theo Henson</span>
	    <a id="gh" href="https://github.com/tteeoo"><img src="/static/github.png"></a>
	</div>
    </body>
</html>
