<link rel="canonical" href="https://theohenson.com/">
<meta name="description" content="Theo Henson's home on the World Wide Web!">
<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website, Home">
<title>Theo Henson: Home</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>Theo Henson's Website</h1>
		<p>
			Welcome, this is the personal website of Theo Henson: my small piece of property on the web.
		</p>
		<p>
			Notice the speed, lack of annoying ads and pop-ups, reasonable responsiveness, and obvious formatting.
			These are all elements of <a href="https://brutalist-web.design/">Brutalist Web Design</a>.
		</p>
		<p>
			Last modified on 2021-1-16.
		</p>
	</div>
