<link rel="canonical" href="https://theohenson.com/software">
<meta name="description" content="Some software made by Theo Henson.">
<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website, Software, GitHub, Free">
<title>Software: theohenson.com</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>Software</h1>
		<p>
			In my free time I like to write software.
			Most of it is <a href="https://www.gnu.org/philosophy/free-sw.html">free</a> and open-source on <a href="https://github.com/tteeoo">GitHub</a>.
		</p>
	</div>
