<link rel="canonical" href="https://theohenson.com/software">
<meta name="description" content="Some software made by Theo Henson.">
<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website, Software, GitHub, Free">
<title>Software: theohenson.com</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>Software</h1>
		<p>
			In my free time I like to write software.
			Most of it is <a href="https://www.gnu.org/philosophy/free-sw.html">free</a> and open-source (even <a href="https://github.com/tteeoo/go-website">this website</a>).
			Below are some featured projects.
		</p>
		<h3 id="sest">sest</h3>
		<p>
			Short for "secure strings", sest is a local, command-line based password manager.
			It uses encryption and cryptographic hashes to securely store your passwords (or really any "string" of characters) on your own device.
			You interact with it using the terminal (perfectly usable in my opinion), although a more user friendly interface could be added to it.
			sest has only been tested on Linux, but it should work on any UNIX-like OS.
		</p>
		<p>
			Made available the 2-Clause BSD License. Learn more on <a href="https://github.com/tteeoo/sest">GitHub</a>. Download the latest version (0.1.8) <a href="https://directory.theohenson.com/file/bin/sest/">x86-64 Linux binary</a>.
		</p>
	</div>
