<link rel="canonical" href="https://theohenson.com/software">
<meta name="description" content="Some software made and used by Theo Henson.">
<meta name="keywords" content="Theo, Henson, Theodore, Personal, Website, Software, GitHub, Free">
<title>Theo Henson: Software</title>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>Software</h1>
		</p>
			I encourage the use and development of <a href="https://www.gnu.org/philosophy/free-sw.html">free</a> and open-source software.
		<p>
		<h3>Used by me</h3>
		<ul>
			<p>
				<li>Operating system: <a href="https://artixlinux.org/">Artix Linux</a></li>
				A derivative GNU/Linux distribution of Arch Linux but without systemd.
				I don't dislike systemd or anything, I just decided to try something different.
				I might switch back to Debian soon though.
			</p>
			<p>
				<li>Text editor: <a href="https://neovim.io/">Neovim</a></li>
				The next evolution in the standard text editor lineage (ed -&gt; ex -&gt; vi -&gt; vim -&gt; nvim).
			</p>
			<p>
				<li>Graphical environment: <a href="https://dwm.suckless.org/">dwm</a> under Xorg</li>
				dwm is a minimal (&lt;2000 SLOC of C) <a href="https://en.wikipedia.org/wiki/Tiling_window_manager">tiling window manager</a> for X11.
			</p>
		</ul>
		<h3>Written by me</h3>
		<p>
			In my spare time I like to write software.
			I think programming is a great hobby.
			It's like building machines, except you don't need to deal with the unreliable and expensive nature of physical materials.
			Below are some featured projects of mine.
		</p>
		<h4 id="neotype">NeoType</h4>
		<p>
			A command-line typing game written in Go.
			NeoType has only been tested on GNU/Linux, but it should work on any UNIX-like OS.
		</p>
		<ul>
			<li>Licensed under the Unlicense</li>
			<li>Learn more (and get a word list) on <a href="https://github.com/tteeoo/neotype">GitHub</a></li>
			<li>Download the latest version (0.1.3): <a href="https://github.com/tteeoo/neotype/archive/0.1.3.tar.gz">source code tarball</a></li>
		</ul>
		<h4 id="sest">sest</h4>
		<p>
			Short for "secure strings", sest is a local, command-line password manager.
			It uses encryption and cryptographic hashes to securely store your passwords (or really any string of characters) on your own device.
			sest has only been tested on GNU/Linux, but it should work on any UNIX-like OS.
			sest is written in Go.
		</p>
		<ul>
			<li>Licensed under the 2-Clause BSD License</li>
			<li>Learn more on <a href="https://github.com/tteeoo/sest">GitHub</a></li>
			<li>Download the latest version (0.1.8): <a href="https://github.com/tteeoo/sest/archive/0.1.8.tar.gz">soure code tarball</a></li>
		</ul>
	</div>
