#loading {
    margin: auto;
    display: none;
}

.project {
    border: 2px solid #666;
    margin: 8px;
    padding: 8px;
    min-height: 100px;
    max-width: 180px;
    border-radius: 8px;
    flex-grow: 1;
    flex-shrink: 1;
    word-wrap: break-word;
}

.project:hover {
    background-color: #efefef;
    border-color: #333;
    color: #000;
}

.project-title > * {
    display: inline;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 4px;
}

.lang {
    font-size: x-small;
    vertical-align: middle;
}

#projs {
    display: none;
    justify-content: center;
    flex-flow: row wrap;
    flex-basis: 50%;
}

@media only screen and (max-width: 460px) {
    .project {
	max-width: 100%;
    }
}
