<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<meta name="author" content="Theo Henson">
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link rel="stylesheet" type="text/css" href="/static/projects.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/jpeg" href="/static/favicon.jpg"> 
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<title>Theo Henson's projects</title>
    </head>
    <body>
	<div id="wrapper">
	    <h1 id="title">Theo Henson's projects</h1>
	    <div id="bar">
		<a class="page-link" href="/">home</a>
		<a class="page-link" href="/about">about</a>
		<a class="page-link" href="/projects">projects</a>
	    </div>
	    <div id="body">
		<div id="projs">
		    <div class="project" v-for="pro in projects">
			<div class="project-in">
			    <div class="project-title">
				<a :href="pro.URL">{{ pro.Name }}</a>
				<span class="dot" :style="pro.Color"></span>
				<span class="lang">{{ pro.Lang }}</span>
			    </div>
			    <hr>
			    {{ pro.Desc }}
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div id="footer">
	    <span id="copy">© 2020 Theo Henson</span>
	    <a id="gh" href="https://github.com/tteeoo"><img src="/static/github.png"></a>
	</div>
	<script src="/static/projects.js"></script>
    </body>
</html>
